body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    overflow: hidden;
    background-color: #729bb3;
    align-items: center;
}

header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    border: solid 2px #729bb3;
} 

.itens a:hover {
    border: solid 2px #96d9ff;
}

.itens {
    margin: auto;
    float: right;
}

.itens a {
    margin-top: 36px;
    margin-bottom: 36px;
}

header hr {
    display: none;
}

.quemSomos {
    text-align: center;
    background-color: #96d9ff;
    padding: 30px;
    color: white;
}

.quemSomos h1 {
    margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
    height: fit-content;
    width: fit-content;
}

.contentQS {
    text-align: left;
    display: flex;
}

.textQS {
    vertical-align: middle;
    margin: auto;
    font-size: 2vw;
    margin-right: 10px;
}

.imgFamilia {
    max-width: 400px;
    width: 50vw;
}

.comoHospedar {
    text-align: center;
    background-color: #fffec9;
    padding: 30px;
}

.comoHospedar h1 {
    margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
    height: fit-content;
    width: fit-content;
    color: black;
}

.contentCH {
    text-align: left;
    display: flex;
}

.textCH {
    vertical-align: middle;
    margin: auto;
    font-size: 2vw;
    color: #4E4E4E;
    margin-left: 10px;
}

.imgCasa {
    max-width: 400px;
    width: 50vw;
}

.menu {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100vh;
}

.contatos > ul {
    list-style-type: none;
    padding: 0;
}

.icone {
    width: 5vh;
    height: 5vh;
    margin-right: 5px;
    margin-bottom: 15px;
}

.contatos {
    display: flex;
    justify-content: space-evenly;
}

footer {
    background-color: #729bb3;
    color: white;
    font-size: 2.5vh;
    margin-bottom: 0;
    height: fit-content;
    padding-bottom: 15px;
}

footer > h1{
    text-align: center;
    margin: auto;
}